<div class="container mt-80 mb">
    <!-- Portfolio Section -->
    <h2>Education Qualifications</h2>

    <div class="row">
      <div class="col-lg-12">
        <div class="pull-left">
          <a target="_blank" href="http://www.jawaharsciencecollege.org/"><img width="120" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d9/Adaikalamatha_college_logo.jpg/220px-Adaikalamatha_college_logo.jpg"/></a>
        </div>
        <address class="pull-left ed-pad">
          <strong>Master of Computer Applications (2001 - 2004)</strong><br>
          Adaikalamatha College<br>
          Affiliation: Bharathidasan University<br>
          Thanjavur, Tamil Nadu 613403, India<br>
        </address>
      </div>
      <div class="col-lg-12">
        <div class="pull-left">
          <a target="_blank" href="http://www.amcvallam.com/"><img width="120" src="https://static-collegedunia.com/public/college_data/images/logos/1453886734logo.jpg"/></a>
        </div>
        <address class="pull-left ed-pad">
          <strong>Bachelor of Arts in Corporate Secretaryship (1998 - 2001)</strong><br>
          Jawahar Science College<br>
          Affiliation: Madras University<br>
          Neyveli T.S, Tamil Nadu 607807, India<br>
        </address>
      </div>
    </div>
</div>
