<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="navbar-brand">
            <a routerLink="" id="logo-kalai">
              <span>{{name}}</span>
              <div>{{logo_slogan}}</div>
            </a>

        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngFor="let menu of menus">
              <a class="nav-link" routerLinkActive="active" [routerLink]="menu.path">{{menu.text}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="container role" [hidden]="!showRole">
        <h1>UI/Front-end Developer, Oracle PL/SQL Developer and UI Architect.</h1>
      </div>
    </header>
