header{color: gray; padding: 2rem;}
#top-header{display: flex;  justify-content: center; align-items: center; line-height: 3vw;}
#top-header h1 {flex: 1;
  text-shadow: 1px 0px #165875;
  color: #505c65;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#top-header h1::before, #logo::before { background-image: url('../../assets/img/kalai.jpg');
  background-size: 100% 100%;
  content: '';
  padding: .7rem 2rem;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 1rem;}
#top-header nav { text-align: right; flex: 1;}
#top-header nav li{display: inline-block; text-align: center; padding: 0 .8rem;}
#top-header nav li:last-child{ padding-right: 0;}
#top-header nav li a{color: gray; text-decoration: none; text-transform: uppercase;}
#top-header nav li a:hover{color: #42AB9E;}
#logo{
  color: #a9a4a4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  /*text-shadow: #EDEDED 3px 2px 0;*/
  position: relative;
  padding: 1rem 0;
}
#logo:after {
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "KALAIKUMAR";
  position: absolute;
  left: 82px;
  top: 18px;
}
.role{
}
.role h1{
  color: #42AB9E;
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 60px;
}
#logo-kalai{color: #000; font-size: 2rem; text-transform: uppercase;border-bottom: 1px solid #42AB9E;line-height: 2rem;
    color: #fff;}
.navbar-nav {text-transform: uppercase;
    font-size: 1rem;}
.navbar-brand {padding: 0;}
.navbar-brand a{text-decoration: none;}
.navbar-brand div{
    color: rgba(255,255,255,.75);
    font-size: .52rem;
    letter-spacing: 3px;
    text-align: center;
    line-height: .52rem;
    margin-top: 5px;
}
header{padding-bottom:0; }
@media only screen and (max-width:1024px){
  .navbar-brand div{
    font-size: .52rem;
    letter-spacing: 3px;
    text-align: center;
    line-height: .52rem;
    margin-top: 5px;
  }
  #logo-kalai{
    font-size: 2rem;
  }
  header{
    padding: 1rem;
  }
  .role{
    padding: 0;
  }
  .role h1{
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 80px;
  }
}

@media only screen and (max-width:850px) {
  .navbar-collapse {
    margin-top: .8rem;
  }
}
