
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-6 pull-left contact">
        <a href="tel:+15712678749" class="white"><i class="fa fa-phone-square" aria-hidden="true"></i> +1 571 267 8749</a><br/>
        <a href="mailto:kalai@kalaikumar.info" class="white"><i class="fa fa-envelope-o" aria-hidden="true"></i>   kalai@kalaikumar.info</a><br/>
      </div>
      <div class="col-6 pull-right text-right">
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/kalaikumar-thangasamy/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://github.com/kalaikt" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://stackoverflow.com/users/8111455/kalaikumar-thangasamy" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/kalai.k.t" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://plus.google.com/+KalaikumarThangasamy" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <p class="m-0 text-right text-white">Copyright &copy; kalaikumar.info 2017</p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>
