footer{
  color: #fff;
  font-size: 1rem;
}
footer i{
  color: #42AB9E;
  margin-right: 10px;
}
.social-icon{
  text-align: right;
  font-size: 2rem;
  display: inline-block;
}
.contact i{ width: 20px; }
.contact{ font-size: 1.5rem; }
