<div class="container mt-80 mb">
    <!-- Portfolio Section -->
    <h2>Projects</h2>
    <div id="accordion">
      <div class="card" *ngFor="let company of projects; let i = index;">
        <div class="card-header" id="heading{{i}}">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse'+i" [attr.aria-expanded]="!i" [attr.aria-controls]="'collapse'+i">
              {{company.companyName}}
            </button>
          </h5>
        </div>
        <div id="collapse{{i}}" class="collapse" [ngClass]="{'show':!i}" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let project of company.projects">
                <div class="card h-100 project-item">
                  <a href="#"><img class="card-img-top" src="{{project.image || 'http://placehold.it/700x400'}}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a target="_blank" href="{{project.link || '#'}}">{{project.title}}</a>
                    </h4>
                    <p class="card-text">{{ (project.description.length>6)? (project.description | slice:0:200)+'...':(project.description) }}</p>
                  </div>
                  <div class="overlay">
                    <div class="text">
                      <div class="project-info">
                        <div *ngIf="project.role"><strong>Role:</strong> {{project.role}}</div>
                        <div *ngIf="project.period"><strong>Period:</strong> {{project.period}}</div>
                        <div *ngIf="project.client"><strong>Client:</strong> {{project.client}}, {{project.location}}</div>
                        <div *ngIf="project.company"><strong>Company:</strong> {{project.company}}</div>
                        <div *ngIf="project.env"><strong>Environment:</strong> {{project.env}}</div>
                      </div>
                      <div *ngIf="project.responsibilities.length">
                          <strong>Responsibilities:</strong>
                          <ul class="responsibilities">
                            <li *ngFor="let res of project.responsibilities">{{res}}</li>
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
