<!-- Page Content -->
<div class="container">

  <h1 class="my-4">{{welcome}}</h1>
  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-8">
      <p class="welcome-txt" [innerHTML] = "skills.welcomeMsg"></p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="img-fluid rounded" src="assets/img/kalai-1.JPG" alt="">
    </div>
  </div>
  <!-- /.row -->

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-sm-3 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{frontEndTile}}</h4>
        <div class="card-body">
          <ul class="card-text">
            <li *ngFor="let front of skills.frontEnd">{{front}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{serverSideTitle}}</h4>
        <div class="card-body">
          <ul class="card-text">
            <li *ngFor="let front of skills.serverSide">{{front}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{backEndTile}}</h4>
        <div class="card-body">
          <ul class="card-text">
            <li *ngFor="let front of skills.backEnd">{{front}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{toolsTile}}</h4>
        <div class="card-body">
          <ul class="card-text">
              <li *ngFor="let front of skills.tools">{{front}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- /.row -->
</div>
<!-- /.container -->
