.skills{
  font-size: 1rem;
}

ul.card-text{
  padding-left: 15px;
  font-size: 1rem;
}
.kalai{
  width: 60%;
}
.welcome-txt{
  font-size: 1.2rem;
}

.front-end::before{
  content: "\f121";
}
.server-side::before{
  content: "{}";
}
.backEnd::before{
  content: "\f1c0";
}
.tools::before{
  content: "\f0ad";
}
@media (min-width:1000px) and (max-width:1024px){
  .container{
    padding: 0;
  }
  .col-sm-3{width: 50%;}
}
@media (min-width:576px) and (max-width:1024px){
  .col-sm-3{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;}
}
