<!-- Page Content -->
<div class="container">

  <h1 class="my-4">{{welcome}}</h1>
  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-8 pr-0">
      <p class="welcome-txt" [innerHTML] = "skills.welcomeMsg"></p>
    </div>
    <div class="col text-right pl-0">
      <img class="img-fluid rounded" src="assets/img/kalai.jpg" alt="Kalaikumar Thangasamy">
    </div>
  </div>
  <!-- /.row -->

  <!-- Marketing Icons Section -->
  <h1 class="my-4">Technical Stack</h1>
  <div class="row">
    <div class="col-sm-3 mb-4">
      <div class="card h-100">
        <h4 class="card-header front-end">{{frontEndTile}}</h4>
        <div class="card-body">
          <ul class="card-text">
            <li *ngFor="let front of skills.frontEnd"><span class="tool-tip">{{front.name}} <span class="tool-tiptext">{{front.experience}}</span></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card h-100">
        <h4 class="card-header server-side">{{serverSideTitle}}</h4>
        <div class="card-body">
          <ul class="card-text">
            <li *ngFor="let front of skills.serverSide"><span class="tool-tip">{{front.name}} <span class="tool-tiptext">{{front.experience}}</span></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card h-100">
        <h4 class="card-header backEnd">{{backEndTile}}</h4>
        <div class="card-body">
          <ul class="card-text">
            <li *ngFor="let front of skills.backEnd"><span class="tool-tip">{{front.name}} <span class="tool-tiptext">{{front.experience}}</span></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card h-100">
        <h4 class="card-header tools">{{toolsTile}}</h4>
        <div class="card-body">
          <ul class="card-text">
              <li *ngFor="let front of skills.tools">{{front}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- /.row -->
</div>
<!-- /.container -->
