.carousel-item{
  height: auto !important;
}
.carousel-control-next, .carousel-control-prev{
  color: #000;
  background-color: #d2d6d5;
}
.carousel{
  margin: 0 auto;
}
.awards::before{
  content: "\f091";
}
