html, div, body, header, nav, ul, h1, li{margin: 0; padding: 0;}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.mt-80{
  margin-top: 60px;
}

a{color: #42AB9E;}
a:hover{color: #42AB9E; text-decoration: none;}
.mb{margin-bottom: 1.5rem;}
