html, div, body, header, nav, ul, h1, li{margin: 0; padding: 0;}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #edecee;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2342ab9e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.mt-80{
  margin-top: 60px;
}
.card-header::before{
  font-family: 'FontAwesome';
  font-size:1.5rem;
  top: 0;
  left: 10px;
  color:#42AB9E;
  padding-right: .5rem;
}

a{color: #42AB9E;}
a:hover{color: #42AB9E; text-decoration: none;}
.mb{margin-bottom: 1.5rem;}
